    .main{
        display: flex;
    }
    .left{
        position: relative;
        z-index: 1;
        width: 50vw;
        height: 100vh;
        background-color: hsla(230, 64%, 42%, 0.859);
    }
    .right{
        display: flex;
        width: 50vw;
        height: 100vh;
        background-color: hsla(0, 0%, 82%, 0.519);
        justify-content: center;
        align-items: center;
    }
    .content{
        margin:auto;
        margin-top: 10%;
        width: 70%;
        color: white;
    }
    .content img{
        border-radius: 20px;
        padding: 10px;
    }
    .content :nth-child(1){
        font-weight: bold;
        color: white;
        margin-bottom: 20px;
        font-size: 3em
    }
    .content :nth-child(2){
        margin-bottom: 20px;
    }
    .content :nth-child(3){
        margin-bottom: 20px;
    }
    .content :nth-child(4){
        margin-bottom: 20px;
    }
    .content :nth-child(5){
        margin-bottom: 20px;
    }
    .role{
        height: 40%;
        width: 60%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 2px rgb(255, 255, 255);
    }
    .role h1{
        text-align: center;
        margin-top: 30px;
        font-size: 25px;
    }
    .role p{
        text-align: center;
        margin-top: 20px;
    }
    .roles{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .student, .warden{
        width: 40%;
        border: 1px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        margin-top: 7px;
        border-radius: 10px;
        background-color: hsla(240, 62%, 71%, 0.174);
        padding-bottom: 20px;
    }
    .student h1{
        font-size: 20px;
    }
    .warden h1{
        font-size: 20px;
    }
    .student p{
        margin-top: 1px;
    }
    .warden p{
        margin-top: 1px;
    }
    .student:hover{
        background-color: hsla(240, 93%, 59%, 0.9);
        color: white;
    }
    .warden:hover{
        background-color: hsla(240, 93%, 59%, 0.9);
        color:white;
    }