/* MAIN LAYOUT */
.main-dashboard {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT SIDE */
.left-panel {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* RIGHT SIDE */
.right-panel {
  width: 50vw;
  height: 100vh;
  background: linear-gradient(135deg, #111827, #1f2937);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENT */
.content {
  width: 75%;
  color: #e2e8f0;
}

/* IMAGE */
.content img {
  width: 120px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* TEXT */
.content h1 {
  font-size: 2.7rem;
  margin-bottom: 15px;
  color: #f8fafc;
}

.content p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: #cbd5f5;
}

.content h3 {
  margin-bottom: 10px;
  color: #38bdf8;
  font-weight: 500;
}

/* ROLE BOX */
.role {
  width: 65%;
  background: #1e293b;
  border-radius: 15px;
  padding: 25px;
  color: white;
  box-shadow: 0 8px 25px rgba(0,0,0,0.6);
}

/* ROLE TEXT */
.role h1 {
  text-align: center;
  font-size: 28px;
}

.role p {
  text-align: center;
  margin-top: 10px;
  color: #94a3b8;
}

/* ROLE CARDS */
.roles {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

/* STUDENT & WARDEN CARD */
.student,
.warden {
  width: 45%;
  border-radius: 12px;
  background: #0f172a;
  padding: 20px;
  text-align: center;

  cursor: pointer;
  transition: all 0.3s ease;

  border: 1px solid #334155;
}

/* TEXT INSIDE */
.student h1,
.warden h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.student p,
.warden p {
  font-size: 14px;
  color: #94a3b8;
}

/* HOVER EFFECT 🔥 */
.student:hover,
.warden:hover {
  transform: translateY(-3px);
  border: 1px solid #22c55e; /* subtle green border */
  background: #0f172a;       /* keep same background */
  box-shadow: none;          /* remove glow */
}

.student:hover p,
.warden:hover p {
  color: white;
}