/* PROFILE */
.profile-container {
  padding: 20px;
  text-align: center;
  position: relative;
}

.profile-card {
  margin: 20px auto;
  padding: 20px;
  width: 350px;
  background: #1e293b;
  border-radius: 12px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  text-align: left;
}

.profile-card p {
  margin: 10px 0;
}
.update-btn{
  padding:8px 4px;
  border-radius: 8px;
  margin-left: 6.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.update-btn:active{
  transform: scale(0.8);
}

.profile-back-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 15px;
  background: #0f172a;
  color: white;
  border: 1px solid #334155;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top:10px;
  left: 40px;
}

.profile-back-btn:hover {
  background: #1e293b;
}
