.warden-dashboard {
  padding: 30px;
  background: linear-gradient(to right, #0f172a, #1e293b);
  min-height: 100vh;
  color: white;
}

.warden-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.warden-cards a {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  width: 200px;
  text-align: center;
  transition: 0.3s;
}

.warden-cards a:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,255,150,0.4);
}

.warden-welcome {
  text-align: center;
}

.warden-quick-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.warden-q-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 180px;
}

.warden-preview {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  width: 70%;
}

.warden-preview ul {
  margin-top: 10px;
}

.warden-preview li {
  margin-bottom: 8px;
}

.warden-preview a {
  display: inline-block;
  margin-top: 10px;
  color: #22c55e;
}

.warden-students-container {
  padding: 20px;
  color: white;
}

/* Search */
.warden-search {
  margin: 15px 0;
  padding: 10px;
  width: 280px;
  border-radius: 8px;
  border: none;
}

/* Table */
.warden-table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

/* Header */
.warden-table th {
  background: #0f172a;
  padding: 12px;
  text-align: left;
}

/* Rows */
.warden-table td {
  padding: 12px;
  border-top: 1px solid #334155;
}

/* Hover */
.warden-table tr:hover {
  background: #334155;
}

/* Delete button */
.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}

.back-btn {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px 15px;
  background: #0f172a;
  color: white;
  border: 1px solid #334155;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #1e293b;
}

.search-filter-container {
  display: flex;
  align-items: center; /* 🔥 aligns properly */
  gap: 10px;
  margin: 15px 0;
}

.warden-search {
  padding: 8px 10px;
  height: 38px;
  width: 240px;
  border-radius: 6px;
  border: none;
}

.warden-filter {
  padding: 8px 10px;
  height: 38px;
  border-radius: 6px;
  border: none;
  background: #1e293b;
  color: white;
  font-size: 14px;
  min-width: 140px;
  cursor: pointer;
}